*{
margin:0;
box-sizing: border-box; /* hace mas facil dimencionar elemento*/
}

body{
    font-family:Arial, Helvetica, sans-serif ;
    background-color: #111;
}

.listas-de-caltele{
    width: 100%;
    object-fit: contain;
    max-height: 200px;
    margin: 10px ;
    transition: transform 450ms;
}

.listas-de-calteles{
    display: flex;/*La propiedad de display flex, ayuda a colocar las cajas como si fueran celdas de tablas, con un comportamiento predecible y adaptable*/
   overflow-y: hidden;
   overflow-x: scroll;
   padding: 20px;
   
}
.listas-de-caltele:hover{
    transform: scale(1.08);
}
.listas-de-calteles::-webkit-scrollbar{ /* desactiva el scrollbar*/
    display: none;
}

.carteles__largor{
max-height:250px;
}
.carteles__largor:hover{
    transform: scale(1.08);
}
.lista{
    color: white;
    margin-left: 20px;
    
}

/*Cabecera*/

.banner{

    background-image:url('images/small-movie8.jpg') ;
    background-size:cover;
    background-position:center center;
    color: white;
    object-fit:contain;
    height: 448px;
}

/*centrado el contenido*/
.banner_contenido{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.banner__titulo{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem ;
}
/* dando estilo a la descripcion de la cabezera*/
.banner__descripcion{
    width: 45rem;
    line-height: 1.3 ;
    padding-top: 1rem ;
    font-size:0.8rem;
    max-width: 360px ;
    height: 180px;


}

/*dando estilos a los botones de la cabezera*/
.banner__abajo{

    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw ;
    padding-left: 2rem;
    padding-right: 2rem ;
    margin-right: 1rem ;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5) ;
}

.banner__abajo:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.banner--fundidoInferior{
    margin-top: 175px;
    height:7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

.nave-logo{
    width: 80px;
    object-fit: contain;
}
.nave-personaje{
    width: 30px;
    object-fit: contain;
}
.navegacion{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    z-index: 1;
    transition-timing-function: ease-in ;
    transition: all 0.5s;
}

.nav__black{
    background-color: #111;
}